
.all {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
    overflow-y: auto;
}


.propertyContainer {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
}

.propertyName {
    width: 100%;
}

.groupButton {
    width: 100%;
    border-radius: 5px;
    border: 2px solid black;
}

.deleteButton {
    width: 100%;
    margin-top: 10px;
}

.max {
    width: 100%;
    height: 100%;
}